PRODUCTION = false

URLAB_WIKI_USERNAME = "username"
URLAB_WIKI_PASSWORD = "password"

TWITTER_CONSUMER_KEY = "your consumer key"
TWITTER_CONSUMER_SECRET = "your consumer secret"
TWITTER_OAUTH_TOKEN = "oauth token"
TWITTER_OAUTH_SECRET = "oauth secret"
