# encoding: utf-8

# Enable official bot for #UrLab or not
PRODUCTION = false

# WIKI
URLAB_WIKI_USERNAME = ""
URLAB_WIKI_PASSWORD = ""
WIKI_CHANGES_URL = "http://wiki.urlab.be/Special:RecentChanges?hideminor=1"

# MotD
URLAB_WIKI_MOTDURL = "http://wiki.urlab.be/User:TitouBot"

#Twitter
TWITTER_CONSUMER_KEY = ""
TWITTER_CONSUMER_SECRET = ""
TWITTER_OAUTH_TOKEN = ""
TWITTER_OAUTH_SECRET = ""

#HAL
AMQ_SERVER = {host:'localhost', user:'guest', pass:'guest'}
EVENTS_QUEUE = 'api.events.feed'

# Pamela
PAMELA_URL = "http://pamela.urlab.be/mac.json"

# Hackerspace status
STATUS_GET_URL = "http://localhost:4567/getstatus"
STATUS_CHANGE_URL = "http://localhost:4567/changestatus"

#Events reminder
EVENTS_URL = "http://urlab.be/events.json"

#kanboard
KAN_USERNAME = ""
KAN_PASSWORD = ""
KAN_BOARD = ""