PRODUCTION = false

URLAB_WIKI_USERNAME = ""
URLAB_WIKI_PASSWORD = ""
WIKI_CHANGES_URL = "http://wiki.urlab.be/Special:RecentChanges?hideminor=1"

TWITTER_CONSUMER_KEY = ""
TWITTER_CONSUMER_SECRET = ""
TWITTER_OAUTH_TOKEN = ""
TWITTER_OAUTH_SECRET = ""

URLAB_WIKI_MOTDURL = "http://wiki.urlab.be/User:TitouBot"

AMQ_SERVER = {host:'localhost', user:'guest', pass:'guest'}
EVENTS_QUEUE = 'api.events.feed'

PAMELA_URL = "http://pamela.urlab.be/mac.json"
STATUS_GET_URL = "http://localhost:4567/getstatus"
STATUS_CHANGE_URL = "http://localhost:4567/changestatus"
