aioamqp==0.6.0
aioauth-client==0.8.0
aiohttp==0.21.4
asyncio-irc==0.2.1
autobahn==0.13.0
beautifulsoup4==4.4.1
blinker==1.4
chardet==2.3.0
humanize==0.5.1
python-dateutil==2.5.1
pytz==2016.2
six==1.10.0
txaio==2.2.2
roman==2.0.0
