git+https://github.com/titouanc/asyncirc
aiohttp==3.8.1
aioamqp
# v0.25.7 and upper breaks tweets urls
aioauth-client<0.25.7
humanize
python-dateutil
beautifulsoup4
pytz
roman
pip-tools
youtube_dl
sentry-sdk
